---
import { Image } from "astro:assets";
import cells from "~src/assets/images/application/cells.png";
import slides from "~src/assets/images/application/slides.jpg";
import networking from "~src/assets/images/application/networking.jpg";
import textureMask from "~src/assets/images/application/app-texture-mask.png";
import cellList from "~src/assets/images/application/app-cell-list.png";
import report from "~src/assets/images/application/report.jpg";

import { WIDTHS } from "~src/consts";
import Section from "~src/components/Section.astro";
import H from "~src/components/HeadingLink.astro";
import Layout from "~src/layouts/Layout.astro";
import SectionCard from "~src/components/SectionCard.astro";
import CallToAction from "~src/components/CallToAction.astro";
import WorkflowStep from "~src/components/WorkflowStep.astro";
import ApplicationScroller from "~src/components/ApplicationScroller.astro";
---

<Layout title="Application | Hematoscope" description="Automate the Tedium">
  <Section variant="pair-reverse">
    <Image
      src={cells}
      alt="100 times magnified image of blood cells, with annotated bounding boxes around white blood cells labeled by the Hematoscope application."
      widths={WIDTHS}
      height="300"
    />
    <SectionCard gradient>
      <h1>A New Era</h1>
      <p class="ingress">
        Digital cytopathology streamlines workflows by fostering synergy between
        physicians and technology. With AI managing time-consuming, quantifiable
        tasks, human experts apply their clinical judgment to verify and
        interpret results. To support interpretation, Hematoscope is the first
        platform to also provide reference values for healthy subjects. Remote
        collaboration becomes effortless, enabling seamless sample evaluation
        and colleague consultations. The Hematoscope application brings digital
        cytopathology to life.
      </p>
    </SectionCard>
  </Section>

  <Section variant="blank" class="workflow">
    <H level="2">Hematoscope Workflow</H>
    <ol>
      <WorkflowStep
        image={slides}
        alt="A doctor skimming through a drawer filled with bone marrow slides."
        heading="Scan Slides"
        text="Capture cytomorphological slides using your microscope."
      />
      <WorkflowStep
        image={networking}
        alt="A rack of servers with networking cables running from one to another."
        heading="Automatic Upload"
        text="Images are securely uploaded to the cloud-based file storage."
      />
      <WorkflowStep
        image={textureMask}
        alt="A screenshot of Hematoscope application showing slide texture overlay mask."
        heading="Feature Extraction"
        text="Hematoscope analyzes key features from whole-slide and single-cell images."
      />
      <WorkflowStep
        image={cellList}
        alt="A screenshot of Hematoscope application showing a list of cells with their labels."
        heading="Physician Review"
        text="Pre-classification results are reviewed and verified by a physician."
      />
      <WorkflowStep
        image={report}
        alt="A doctor reviewing a report, holding a pen in hand."
        heading="Seamless Reporting"
        text="Share a standardized digital report directly to your laboratory information system."
      />
    </ol>
  </Section>

  <Section variant="gradient-cells">
    <H level="2">Key Features</H>

    <div class="card-grid features">
      <div class="card-item feature">
        <H level="3">Sample Triage</H>
        <p>Prioritize urgent samples with a multi-parameter risk model.</p>
      </div>
      <div class="card-item feature">
        <H level="3">Comprehensive Image View</H>
        <p>Access whole-slide images, numerical analysis, and visual masks.</p>
      </div>
      <div class="card-item feature">
        <H level="3">Single-Cell Analysis</H>
        <p>
          View single-cell images with classifications and potential dysplasia
          indicators.
        </p>
      </div>
      <div class="card-item feature">
        <H level="3">Reference Comparisons</H>
        <p>Compare results with population-scale reference ranges.</p>
      </div>
      <div class="card-item feature">
        <H level="3">Standardized Reporting</H>
        <p>
          Assess and share clinically essential findings in a structured report.
        </p>
      </div>
      <div class="card-item feature">
        <H level="3">Collaborative Sharing</H>
        <p>
          Easily share slides and cell images with colleagues for consultations
          and meetings.
        </p>
      </div>
    </div>
  </Section>

  <ApplicationScroller />

  <Section variant="gradient-cells">
    <H level="2">Frequently Asked Questions</H>

    <div class="card-grid">
      <div class="card-item faq">
        <H level="3">How can I use the Hematoscope application?</H>
        <p>
          Hematoscope can be used by uploading high-resolution images of bone
          marrow aspirates to the platform. The application analyzes these
          images using advanced machine learning algorithms, delivering
          quantitative results and visual annotations. It is accessible via a
          secure web interface—no installation required.
        </p>
      </div>
      <div class="card-item faq">
        <H level="3">Can I test the Hematoscope application?</H>
        <p>
          Yes, Hematoscope offers a trial version for institutions and
          professionals interested in evaluating its capabilities. You can
          request trial access by contacting the support team through the
          website.
        </p>
      </div>
      <div class="card-item faq">
        <H level="3">How robust are the algorithms?</H>
        <p>
          Hematoscope's algorithms have been trained on a comprehensive
          real-world dataset comprising different pathologies and over 60,000
          samples. The system achieves high accuracy in detecting and
          classifying various blood cell types and their abnormalities, with
          performance metrics benchmarked against expert diagnoses.
        </p>
      </div>
      <div class="card-item faq">
        <H level="3">
          Will the Hematoscope application replace hematopathologists?
        </H>
        <p>
          No, Hematoscope is designed to assist hematopathologists. It serves as
          a diagnostic aid that enhances efficiency and consistency. Final
          clinical decisions should always be made by a qualified medical
          professional.
        </p>
      </div>
      <div class="card-item faq">
        <H level="3">Why should I use the Hematoscope application?</H>
        <p>
          Hematoscope accelerates and enhances hematological analysis by
          providing AI-assisted interpretation of bone marrow cell images.
          Hematoscope will facilitate remote working and consultation but also
          reduce diagnostic turnaround time and improve standardization,
          particularly in high-volume settings.
        </p>
      </div>
      <div class="card-item faq">
        <H level="3">What types of images are supported?</H>
        <p>
          Hematoscope supports high-resolution digital images of
          May-Grünwald-Giemsa–stained bone marrow aspirate slides. Whole-slide
          images must be captured at 10x magnification and saved in an
          open-source format such as MIRAX. Region-of-interest images should be
          acquired at 100x magnification and saved in JPEG or MIRAX format.
        </p>
      </div>
      <div class="card-item faq">
        <H level="3">Why is the Hematoscope application only cloud-based?</H>
        <p>
          Being cloud-based ensures seamless updates, scalable computing
          resources, and consistent algorithm performance across users. It also
          allows for secure data storage and easy collaboration between
          institutes, laboratories and specialists across geographic locations.
        </p>
      </div>
      <div class="card-item faq">
        <H level="3">
          What is the price of the Hematoscope application license?
        </H>
        <p>
          Pricing depends on your usage volume. Contact the support team to test
          a trial version and discuss your needs.
        </p>
      </div>
      <div class="card-item faq">
        <H level="3">Can I use the application for research?</H>
        <p>
          Absolutely. Hematoscope is increasingly used in research settings to
          study hematologic disorders, develop new biomarkers, and support
          clinical trials. It offers data export and integration with other
          medical data domains.
        </p>
      </div>
    </div>
  </Section>

  <CallToAction title="Want to Learn More?" />
</Layout>

<style>
  .ingress {
    font-size: var(--text-size-ingress);
  }

  .workflow {
    counter-reset: step;
  }
  :global(.workflow > h2) {
    grid-column: content;
  }
  .workflow ol {
    display: grid;
    grid-template-areas: "image counter text";
    grid-template-columns: 1fr 6rem 1fr;
    column-gap: calc(2 * var(--element-padding));
    row-gap: calc(4 * var(--element-padding));
    position: relative;
  }
  .workflow ol::before {
    content: "";
    position: absolute;
    width: 1px;
    left: 50%;
    top: 8rem;
    bottom: 8rem;
    background-color: #d9d9d9;
    z-index: -1;
  }
  @media screen and (width < 70em) {
    .workflow ol {
      column-gap: calc(var(--element-padding));
    }
  }
  @media screen and (width < 50em) {
    .workflow ol {
      display: grid;
      grid-template-areas: "image text";
      grid-template-columns: 1fr 1fr;
    }
    .workflow ol::before {
      content: unset;
    }
  }

  .card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--element-padding);
    max-width: 70em;
  }
  .card-item {
    flex: 25rem 1 1;
    background-color: var(--background);
    padding: var(--element-padding);
    border-radius: 0.75rem;
    box-shadow: var(--shadow-lg);
  }

  .features {
    counter-reset: feature;
  }
  .feature {
    counter-increment: feature;

    display: grid;
    grid-template-areas:
      "number heading"
      "number paragraph";
    grid-template-columns: 5rem auto;
    column-gap: var(--element-padding);
    align-items: center;
  }
  .feature::before {
    content: counter(feature);
    font-size: 8rem;
    line-height: 6rem;
    font-weight: 900;
    grid-area: number;
    text-align: center;
  }
  .feature:nth-child(1)::before {
    color: var(--accent-2);
  }
  .feature:nth-child(2)::before {
    color: var(--accent-4);
  }
  .feature:nth-child(3)::before {
    color: var(--accent-5);
  }
  .feature:nth-child(4)::before {
    color: var(--accent-6);
  }
  .feature:nth-child(5)::before {
    color: var(--accent-1);
  }
  .feature:nth-child(6)::before {
    color: var(--accent-3);
  }

  .algorithms {
    max-width: 54rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: calc(2 * var(--element-padding));
    column-gap: var(--element-padding);
    justify-content: center;
  }
  :global(.algorithms > *) {
    flex: 1 0 20%;
    min-width: 10rem;
  }

  .faq {
    display: grid;
    gap: 0.5em;
  }
  @media (width > 61em) {
    .faq:last-child {
      max-width: calc(50% - (var(--element-padding) / 2));
    }
  }
</style>
