---
import oscar from "~src/assets/images/company/oscar.jpg";
import mikko from "~src/assets/images/company/mikko.jpg";
import diponkor from "~src/assets/images/company/diponkor.jpg";
import joonas from "~src/assets/images/company/joonas.jpg";
import stas from "~src/assets/images/company/stas.jpg";

import Section from "~src/components/Section.astro";
import Layout from "~src/layouts/Layout.astro";
import TeamMember from "~src/components/TeamMember.astro";
---

<Layout title="Company | Cellbytes" description="Meet the team">
  <Section variant="blank">
    <div class="text">
      <H level="2">About Cellbytes</H>
      <p>
        We are a team of hematology, computer vision, and medical-software professionals eager to make a change.
        With a long background in research and technology, we are committed to design the best algorithms for you.
        If something is missing or you are not happy with the results, we promise to make it our priority to fix it.
      </p>
      <H level="2">Our Vision</H>
      <p>
      Cellbytes aims to make high-quality blood and marrow cytomorphology accessible, reliable, and more efficient, and to achieve better patient outcomes.
      </p>
    </div>

    <H level="2">Meet the team</H>
    <div class="team">
      <TeamMember
        photo={oscar}
        name="Oscar Brück / MD, PhD"
        title="Chief Executive Officer"
        email="first@cellbytes.io"
      />
      <TeamMember
        photo={mikko}
        name="Mikko Purhonen / M.Sc."
        title="Chief Algorithm Officer"
        email="first.last@cellbytes.io"
      />
      <TeamMember
        photo={diponkor}
        name="Diponkor Mondal / M.Sc."
        title="Chief Certification Officer"
        email="first.last@cellbytes.io"
      />
      <TeamMember
        photo={joonas}
        name="Joonas Palosuo / M.Sc."
        title="Chief Application Officer"
        email="first.last@cellbytes.io"
      />
      <TeamMember
        photo={stas}
        name="Stas Tatun / M.Sc."
        title="Chief Deeplearning Officer"
        email="first@cellbytes.io"
      />
    </div>
  </Section>
</Layout>

<style>
  .team {
    max-width: 54rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: calc(2 * var(--element-padding));
    column-gap: var(--element-padding);
    justify-content: center;
  }
</style>
