---
import { Image } from "astro:assets";
import appMask from "~src/assets/images/home/app-mask.png"; // https://mockuper.net/generator/mockup/2286/imac
import appLabelings from "~src/assets/images/home/app-labelings.png"; // https://mockuper.net/generator/mockup/2085/imac
import microscope from "~src/assets/images/home/microscope.jpg";
import server from "~src/assets/images/home/server.jpg";

import { WIDTHS } from "~src/consts";
import Section from "~src/components/Section.astro";
import H from "~src/components/HeadingLink.astro";
import LinkButton from "~src/components/LinkButton.astro";
import GlassFrame from "~src/components/GlassFrame.astro";
import Layout from "~src/layouts/Layout.astro";
import SectionCard from "~src/components/SectionCard.astro";
import HighlightCard from "~src/components/HighlightCard.astro";
import CallToAction from "~src/components/CallToAction.astro";
---

<Layout
  title="Hematoscope"
  description="AI Solutions for Hematopathologists, Hematologists and Researchers."
>
  <Section variant="gradient-cells" class="hero">
    <div class="text">
      <h1>Hematoscope &ndash; Precision Hematology with Digital Microscopy</h1>
      <p>AI Solutions for Hematopathologists, Hematologists and Researchers.</p>
    </div>
    <GlassFrame>
      <video
        width="1200"
        autoplay
        loop
        aria-label="Demonstration of Hematoscope App's features"
        poster="banner_image.jpeg"
      >
        <source
          src="banner_large.webm"
          type="video/webm"
          media="(1000px <= width)"
        />
        <source
          src="banner_mid.webm"
          type="video/webm"
          media="(600px <= width < 1000px)"
        />
        <source
          src="banner_small.webm"
          type="video/webm"
          media="(width < 600px)"
        />
      </video>
    </GlassFrame>
  </Section>

  <Section variant="pair">
    <Image
      src={appLabelings}
      alt="Doctor looking at cell labels viewed with the Hematoscope app"
      widths={WIDTHS}
      height="300"
    />
    <SectionCard>
      <H level="2">Objective and Fast</H>
      <p>
        Hematoscope will not replace hematopathologists. However, standardized
        and real-time digital assessment can enhance human performance and
        decrease subjectivity.
      </p>
      <LinkButton href="/application" variant="default-arrow">
        Application
      </LinkButton>
    </SectionCard>
  </Section>

  <Section variant="pair-reverse">
    <Image
      src={appMask}
      alt="Doctor looking at a sample with an overlaid mask viewed with the Hematoscope app"
      widths={WIDTHS}
      height="300"
    />
    <SectionCard>
      <H level="2">Intuitive and Explainable</H>
      <p>
        Every model prediction comes with clear visualizations and quantifiable
        data, ensuring transparency and straightforward interpretation.
      </p>
      <LinkButton
        href="/application#vast-suite-of-algorithms"
        variant="default-arrow"
      >
        Algorithms
      </LinkButton>
    </SectionCard>
  </Section>

  <Section variant="gradient">
    <div class="text">
      <H level="2">Comprehensive Analysis</H>
      <p>
        Hematopathology is not just about counting cells. By employing clinical
        insights and recent advances in computer vision and deep learning,
        Hematoscope performs end-to-end cytomorphological assessment.
      </p>
    </div>
    <ul class="algorithms">
      <HighlightCard
        description="Algorithms"
        highlight="11"
        icon="highlights/neuralnet"
        accent="1"
      />
      <HighlightCard
        description="Accuracy"
        highlight="93%"
        icon="highlights/accuracy"
        accent="2"
      />
      <HighlightCard
        description="Publications"
        highlight="7"
        icon="highlights/research"
        accent="3"
      />
    </ul>
  </Section>

  <Section variant="pair-reverse">
    <Image
      src={microscope}
      alt="Close-up of a microscope scanning a pathological slide."
      widths={WIDTHS}
      height="300"
    />
    <SectionCard>
      <H level="2">Compatible with Multiple Microscopes</H>
      <p>
        Whole-slide and single-cell image analysis is compatible with West
        Medica&apos;s and other imaging systems. No need for additional
        hardwares or complex installations &ndash; only your computer.
      </p>
      <LinkButton href="/application#scan-slides" variant="default-arrow">
        Compatibility
      </LinkButton>
    </SectionCard>
  </Section>

  <Section variant="pair">
    <Image
      src={server}
      alt="A rack of servers with blinking lights"
      widths={WIDTHS}
      height="300"
    />
    <SectionCard>
      <H level="2">Safe and Secure</H>
      <p>
        Data security is more than a priority; it is a commitment. By strictly
        adhering to international standards and data privacy regulations, we can
        guarantee users to retain have complete control over their data.
      </p>
      <LinkButton href="/compliance" variant="default-arrow">
        Security
      </LinkButton>
    </SectionCard>
  </Section>

  <CallToAction title="Explore for Yourself" />
</Layout>

<style>
  p {
    font-size: var(--text-size-ingress);
  }

  .hero {
    padding-block: calc(2 * var(--element-padding));
  }

  video {
    aspect-ratio: 16 / 10;
  }

  .algorithms {
    display: flex;
    gap: calc(2 * var(--element-padding));
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (width < 40em) {
    .scroller {
      display: flex;
      gap: calc(var(--element-padding));
      --animation-multiplier: 2;
      padding-inline: calc(2 * var(--element-padding));
      padding-block-end: calc(2 * var(--element-padding));
    }
    .scroller-img {
      min-width: 100%;
    }
  }
</style>
