---
import { Image } from "astro:assets";
import research from "~src/assets/images/research/research.jpg";
import head from "~src/assets/images/research/head.jpg";
import neural from "~src/assets/images/research/neural.jpg";
import pills from "~src/assets/images/research/pills.jpg";

import { WIDTHS } from "~src/consts";
import Section from "~src/components/Section.astro";
import H from "~src/components/HeadingLink.astro";
import Layout from "~src/layouts/Layout.astro";
import SectionCard from "~src/components/SectionCard.astro";
import TextCard from "~src/components/TextCard.astro";
---

<Layout
  title="Research | Cellbytes"
  description="Innovation powered by research"
>
  <Section variant="pair">
    <Image
      src={research}
      alt="A man looking at a pinboard filled with research papers."
      widths={WIDTHS}
      height="300"
    />
    <SectionCard gradient>
      <h1>Innovation powered by research</h1>
      <p>
        At Cellbytes, our mission is to provide the ultimate AI companion for
        your diagnostic needs. Cellbytes delivers a comprehensive
        cytomorphological assessment, including whole-slide analysis, cell
        classification, and dysplasia detection. Every algorithm is built on
        high-quality data covering normal and pathological varieties,
        cutting-edge research and validated by robust scientific and clinical
        metrics.
      </p>
      <p>
        Our team is deeply rooted in academia, constantly advancing the
        frontiers of deep learning and computational hematology. Our research
        explores the intricate connections between cell morphology, disease
        genetics, and clinical outcomes, with the goal of improving the
        understanding and management of blood disorders.
      </p>
      <p>
        We&apos;re eager to collaborate and help you make new discoveries.
        Cellbytes&apos;s in-house R&D team has developed advanced algorithms for
        investigational use. Let us know how we can support your research work
        and push the bounderies of our understanding of hematopathology.
      </p>
    </SectionCard>
  </Section>

  <Section variant="blank">
    <H level="2">Selected publications</H>
    <div class="publications">
      <TextCard
        image={head}
        alt="Stylized 3D illustration of a head outlined by furry lines"
        accent="3"
      >
        <H
          level="3"
          externalUrl="https://onlinelibrary.wiley.com/doi/10.1002/hem3.70319"
          >Deep cytomorphology identifies erythroid skewing and monocytic
          morphology to predict TKI sensitivity in CML patients</H
        >
        <p>
          Luukkainen K, Purhonen M, Tatun M, Hung H, Tafjord O, Sundquist H,
          Söderlund S, Adnan-Awad S, Dohlen A, Heikkinen J, Koskenvesa P,
          Joutsi-Korhonen L, Lempiäinen A, Siitonen S, Mustjoki S,
          Shanmuganathan N, Bryce C, Danielsson S, Hjorth-Hansen H,
          Olsson-Strömberg U, Kumagai T, Kimura S, Ross DM, Brück O
        </p>
        <p>HemaSphere / 13 Feb 2026</p>
      </TextCard>

      <TextCard
        image={pills}
        alt="3D illustration of a machine outputting streams of data with pills watching along"
        accent="1"
      >
        <H
          level="3"
          externalUrl="https://www.nature.com/articles/s41375-025-02769-2"
        >
          Granulocyte abundance and maturation state at diagnosis predicts
          treatment-free remission in CML
        </H>
        <p>
          Purhonen M, Tatun M, Luukkainen K, Hung K, Sundquist H, Tafjord O,
          Söderlund S, Adnan-Awad S, Dohlen A, Heikkinen J, Koskenvesa P,
          Siitonen S, Mustjoki S, Shanmuganathan N, Bryce C, Danielsson S,
          Hjorth-Hansen H, Olsson-Strömberg U, Kumagai T, Kimura S, Ross DM,
          Brück O
        </p>
        <p>Leukemia / 16 Sep 2025</p>
      </TextCard>
      <TextCard
        image={neural}
        alt="3D illustration of a neural network"
        accent="2"
      >
        <H
          level="3"
          externalUrl="https://www.nature.com/articles/s41592-024-02233-6"
        >
          The multimodality cell segmentation challenge: toward universal
          solutions
        </H>
        <p>
          Ma J, Xie R, Ayyadhury S, Ge C, Gupta A, Gupta R, Gu S, Zhang Y, Lee
          G, Kim J, Lou W, Li H, Upschulte E, Dickscheid T, de Almeida JG, Wang
          Y, Han L, Yang X, Labagnara M, Gligorovski V, Scheder M, Rahi SJ,
          Kempster C, Pollitt A, Espinosa L, Mignot T, Middeke JM, Eckardt JN,
          Li W, Li Z, Cai X, Bai B, Greenwald NF, Van Valen D, Weisbart E,
          Cimini BA, Cheung T, Brück O, Bader GD, Wang B.
        </p>
        <p>Nature Methods / 26 Mar 2024</p>
      </TextCard>
    </div>
  </Section>
</Layout>

<style>
  .publications {
    display: flex;
    flex-direction: column;
    gap: var(--element-padding);
  }
</style>
