---
import { Image } from "astro:assets";
import research from "~src/assets/images/research/research.jpg";
import grid from "~src/assets/images/research/grid.jpg";
import head from "~src/assets/images/research/head.jpg";
import neural from "~src/assets/images/research/neural.jpg";
import pills from "~src/assets/images/research/pills.jpg";

import { WIDTHS } from "~src/consts";
import Section from "~src/components/Section.astro";
import H from "~src/components/HeadingLink.astro";
import Layout from "~src/layouts/Layout.astro";
import SectionCard from "~src/components/SectionCard.astro";
import TextCard from "~src/components/TextCard.astro";
---

<Layout
  title="Research | Hematoscope"
  description="Innovation Powered by Research"
>
  <Section variant="pair">
    <Image
      src={research}
      alt="A man looking at a pinboard filled with research papers."
      widths={WIDTHS}
      height="300"
    />
    <SectionCard gradient>
      <h1>Innovation Powered by Research</h1>
      <p>
        At Hematoscope, our mission is to provide the ultimate AI companion for
        your diagnostic needs. The Hematoscope application is the first medical
        device to deliver a comprehensive cytomorphological assessment,
        including whole-slide analysis, cell classification, and dysplasia
        detection. Every algorithm is built on cutting-edge research and
        validated by robust scientific and clinical metrics.
      </p>
      <p>
        Our team is deeply rooted in academia, constantly advancing the
        frontiers of deep learning and computational hematology. Our research
        explores the intricate connections between cell morphology, disease
        genetics, and clinical outcomes, with the goal of improving the
        understanding and management of blood disorders.
      </p>
      <p>
        We&apos;re eager to collaborate with you on your research goals.
        Hematoscope&apos;s in-house R&D team has developed advanced algorithms
        for investigational use. Let us know how we can support your work and
        contribute to your discoveries.
      </p>
    </SectionCard>
  </Section>

  <Section variant="blank">
    <H level="2">Selected publications</H>
    <div class="publications">
      <TextCard
        image={neural}
        alt="3D illustration of a neural network"
        accent="2"
      >
        <H level="3">
          The multimodality cell segmentation challenge: toward universal
          solutions
        </H>
        <p>
          Jan Moritz Middeke, Jan-Niklas Eckardt, Wangkai Li, Zhaoyang Li,
          Xiaochen Cai, Bizhe Bai, Noah F. Greenwald, David Van Valen, Erin
          Weisbart, Beth A. Cimini, Trevor Cheung, Oscar Brück, Gary D. Bader,
          Bo Wang
        </p>
        <p>Nature Methods / 26 Mar 2024</p>
      </TextCard>
      <TextCard
        image={head}
        alt="Stylized 3D illustration of a head outlined by furry lines"
        accent="3"
      >
        <H level="3">Toward an anatomy of human hematopoiesis</H>
        <p>Oscar Brück</p>
        <p>Blood / 28 Dec 2023</p>
      </TextCard>
      <TextCard
        image={pills}
        alt="3D illustration of a neural network"
        accent="1"
      >
        <H level="3">
          Real-world evidence of multiple myeloma treated from 2013 to 2019 in
          the Hospital District of Helsinki and Uusimaa, Finland
        </H>
        <p>
          Johanna Vikkula, Kristiina Uusi-Rauva, Tuuli Ranki, Iiro Toppila,
          Maria Aalto-Setälä, Katariina Pousar, Lotta Vassilev, Kimmo Porkka,
          Raija Silvennoinen, Oscar Brück
        </p>
        <p>Future Oncology / 01 Sep 2023</p>
      </TextCard>
      <TextCard
        image={grid}
        alt="3D illustration of a neural network"
        accent="4"
      >
        <H level="3">
          Computational textural mapping harmonises sampling variation and
          reveals multidimensional histopathological fingerprints
        </H>
        <p>Otso Brummer, Petri Pölönen, Satu Mustjoki, Oscar Brück</p>
        <p>British Journal of Cancer / 30 Jun 2023</p>
      </TextCard>
    </div>
  </Section>
</Layout>

<style>
  .publications {
    display: flex;
    flex-direction: column;
    gap: var(--element-padding);
  }
</style>
