---
import { Image } from "astro:assets";
import base from "~src/assets/images/applicationScroller/01-base.png";
import triage from "~src/assets/images/applicationScroller/02-triage.png";
import tutorialRois from "~src/assets/images/applicationScroller/03-tutorialization-rois.png";
import tutorialCells from "~src/assets/images/applicationScroller/04-tutorialization-cells.png";
import slideViewer from "~src/assets/images/applicationScroller/05-slide-viewer.png";
import scarcityCellularity from "~src/assets/images/applicationScroller/06-scarcity-cellularity.png";
import maskVisualization from "~src/assets/images/applicationScroller/07-mask-visualization.png";
import cellDifferential from "~src/assets/images/applicationScroller/08-cell-differential.png";
import fullDifferential from "~src/assets/images/applicationScroller/09-full-differential.png";
import cellList from "~src/assets/images/applicationScroller/10-cell-list.png";
import dysplasias from "~src/assets/images/applicationScroller/11-dysplasias.png";
import report from "~src/assets/images/applicationScroller/12-report.png";

import { WIDTHS as W } from "~src/consts";
import Section from "~src/components/Section.astro";
import H from "~src/components/HeadingLink.astro";
import GlassFrame from "~src/components/GlassFrame.astro";
import SectionCard from "./SectionCard.astro";

const scrollerData = [
  {
    name: "base",
    image: base,
    cardTitle: null,
    cardBody: null,
    position: null,
  },
  {
    name: "triage",
    image: triage,
    cardTitle: "Intelligent triage",
    cardBody:
      "Our system ranks bone marrow samples by clinical urgency. By scoring cytomorphological features automatically, we ensure high-priority cases receive immediate attention.",
    position: "right",
  },
  {
    name: "tutorial-rois",
    image: tutorialRois,
    cardTitle: "Guided diagnostic workflow",
    cardBody:
      "Our system facilitates rapid adoption through step-by-step instructions and an intuitive introduction to the interface.",
    position: "right",
  },
  {
    name: "tutorial-cells",
    image: tutorialCells,
    cardTitle: "Guided diagnostic workflow",
    cardBody:
      "The evaluation flow will guide you through a sequence of analyses covering whole-sample analysis, selection of regions of interest, cell differential, dysplasia assessment and finally approving a standardized sample report.",
    position: "left",
  },
  {
    name: "slide-viewer",
    image: slideViewer,
    cardTitle: "Advanced interface for expert control",
    cardBody:
      "For experienced users, the advanced interface provides access to the full sample, offering total flexibility to conduct deep-dive analyses tailored to each case.",
    position: "right",
  },
  {
    name: "scarcity-cellularity",
    image: scarcityCellularity,
    cardTitle: "Comprehensive sample assessment",
    cardBody:
      "The system evaluates sample sufficiency, cellularity estimates to assess the density of hematopoietic cells and megakaryoycyte density, which are integral part of a comprehensive cytomorphological analysis.",
    position: "right",
  },
  {
    name: "mask-visualization",
    image: maskVisualization,
    cardTitle: "Visual verification",
    cardBody:
      "Validate preclassification results with precision using diagnostic masks. Overlays highlight the exact regions factored into the analysis, providing full transparency into the system’s identification process.",
    position: "left",
  },
  {
    name: "cell-differential",
    image: cellDifferential,
    cardTitle: "Innovative cell differential",
    cardBody:
      "Cellbytes combines a powerful in-house foundation model trained with millions of cells and medical context to preclassify every cell identified within the sample. For targeted analysis, users can define specific regions of interest to maximize clinical accuracy.",
    position: "right",
  },
  {
    name: "full-differential",
    image: fullDifferential,
    cardTitle: "Per-ROI detailed view",
    cardBody:
      "For a deeper dive, Cellbytes provides a detailed breakdown of results on a region-by-region basis to precisely compare different areas within the sample.",
    position: "right",
  },
  {
    name: "cell-list",
    image: cellList,
    cardTitle: "Interactive cell gallery",
    cardBody:
      "Review and refine automated classifications with ease. Our organized cell-by-cell list allows users to validate the system’s performance and maintain full diagnostic control by updating labels on the fly. Cellbytes ensures rapid correction and validation using an intelligent cell similarity measure.",
    position: "right",
  },
  {
    name: "dysplasias",
    image: dysplasias,
    cardTitle: "Lineage-specific dysplasia analysis",
    cardBody:
      "A first in automated cytomorphology: detect and characterize dysplastic cells across multiple lineages rapidly and securely.",
    position: "right",
  },
  {
    name: "report",
    image: report,
    cardTitle: "Seamless reporting",
    cardBody:
      "Finalize your evaluation with a single click. Approve the generated results and sign off on the sample to complete the digital workflow and archive the report.",
    position: "left",
  },
];
---

<Section variant="blank">
  <div class="text">
    <H level="2">Comprehensive AI-powered analysis</H>
    <p>
      Our AI aims to perform nearly all the same diagnostic tasks as doctors,
      enhancing every step of the analysis process rather than just optimizing
      isolated aspects. By combining cell classification with morphology,
      dysplasia assessment, and sample quality analysis, we provide a fresh
      angle for research.
    </p>
  </div>
  <SectionCard gradient class="scroller">
    <GlassFrame class="screen">
      {
        scrollerData.map((item) => (
          <Image
            src={item.image}
            class={item.name}
            alt=""
            widths={W}
            height="600"
          />
        ))
      }
    </GlassFrame>

    {
      scrollerData
        .filter((item) => item.cardTitle !== null)
        .map((item) => (
          <div
            class={`card ${item.name} ${item.position}`}
            data-name={item.name}
          >
            <H level="3">{item.cardTitle}</H>
            <p>{item.cardBody}</p>
          </div>
        ))
    }
  </SectionCard>
</Section>

<script>
  const scroller = document.querySelector(".scroller")!;
  const offsetStart = scroller.getBoundingClientRect().top + window.scrollY;
  const offsetEnd =
    document.documentElement.getBoundingClientRect().height -
    offsetStart -
    scroller.getBoundingClientRect().height;

  function setOffsetVar() {
    const relativeOffset =
      (window.scrollY - offsetStart) /
      (document.body.offsetHeight -
        offsetStart -
        offsetEnd -
        window.innerHeight);
    const clampedOffset = Math.min(Math.max(relativeOffset, 0), 1);
    document.documentElement.style.setProperty("--scroll", `${clampedOffset}`);
  }

  window.addEventListener("scroll", setOffsetVar);
  window.addEventListener("load", setOffsetVar);

  /* animation tags */
  const style = document.createElement("style");
  document.head.appendChild(style);

  // Add keyframes dynamically
  function keyframes(name: string, offset: number) {
    const transition = 3;

    const narrow = window.matchMedia("(width < 50em)").matches;

    const imageKeyframes = `
      @keyframes ${name} {
        ${offset}% { opacity: 0; }
        ${offset + transition}%, 100% { opacity: 1; }
      }
    `;
    const imageAnimation = `
      img.${name} {
        animation: ${name} 1s linear;
      }
    `;

    const sheet = style.sheet!;
    sheet.insertRule(imageKeyframes, sheet.cssRules.length);
    sheet.insertRule(imageAnimation, sheet.cssRules.length);

    if (narrow) {
      const duration = 4;

      const cardKeyframes = `
        @keyframes ${name}card {
          ${offset + transition + duration}% { opacity: 1; }
          ${offset + transition + duration + 1}%, 100% { opacity: 0; }
        }
      `;
      const cardAnimation = `
        .card.${name} {
          animation: ${name}card 1s linear;
        }
      `;
      sheet.insertRule(cardKeyframes, sheet.cssRules.length);
      sheet.insertRule(cardAnimation, sheet.cssRules.length);
    }
  }

  const initial = 3;
  const step = 9.3;
  const frames = [...document.querySelectorAll("div[data-name]")].map(
    (element) => element.getAttribute("data-name") || "",
  );
  frames.forEach((frame, idx) => keyframes(frame, initial + step * idx));
</script>

<style>
  /* we need this specificity hack to compensate for nondeterministic astro css order */
  .scroller.scroller {
    width: 100%;
    position: relative;

    display: grid;
    grid-template-rows: repeat(12, minmax(600px, 1fr));
    grid-template-columns: 1fr;
    gap: 5rem;
    justify-items: center;
    align-items: center;
  }
  .screen {
    position: sticky;
    top: 15%;
    display: grid;
    grid-template-areas: "img";
  }

  img {
    grid-area: img;
    height: auto;

    max-height: 70vh;
    width: auto;
  }
  img:not(:first-child) {
    opacity: 0;
  }
  .screen > img,
  .scroller .card {
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

  .card {
    background-color: var(--background);
    border-radius: var(--small-border-radius);
    box-shadow: var(--shadow-sm);
    padding: calc(0.5 * var(--element-padding));
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    z-index: 1;
    max-width: 35rem;
  }
  .left {
    justify-self: flex-start;
  }
  .right {
    justify-self: flex-end;
  }

  @media screen and (width < 50em) {
    .scroller {
      align-items: flex-end;
    }
    .screen {
      align-self: flex-start;
      z-index: 2;
    }
    .card {
      margin-inline: 1em;
      justify-self: center;
      position: sticky;
      top: 16%;
    }
  }
</style>
